@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

.famous-doctors {
  height: 100%;
  .famous-doctors-header {
    padding: 20px 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .famous-doctors-content {
    width: 100%;
    padding: 20px 0;
    margin: 0 auto;
  }

  @include media-breakpoint-only(lg) {
    .slick-prev,
    .slick-next {
      top: 174px !important;
    }
  }
}

@include media-breakpoint-down(sm) {
  .famous-doctors-content {
    .slick-track {
      .slick-slide {
        & > div {
          margin-right: 0 !important;
        }
      }
    }
  }
}
