@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

.clinic-introduction {
  .page-header {
    .page-banner {
      width: 100%;
      aspect-ratio: 4.8;
      margin-bottom: 24px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .banner {
      width: 100%;
      box-shadow: 0px 1px 6px rgba(32, 33, 36, 0.28);
      background-color: rgba(255, 255, 255, 0.8);
      padding-top: 20px;
      display: flex;
      flex-direction: column;
      position: absolute;
      bottom: 2px;

      .upper {
        display: flex;

        .img-container {
          width: 112px;
          height: 112px;
          margin: 0 30px;
          background-color: white;

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }

        .clinic-basic-info {
          flex: 1;

          .clinic-name {
            h1 {
              font-size: 26px !important;
              color: rgba(40, 49, 63, 1) !important;
              font-weight: 700;
            }
          }

          .clinic-address {
            span {
              font-size: 18px !important;
              letter-spacing: 0.6px;
              color: rgba(40, 49, 63, 1) !important;
              font-weight: 400;
            }
          }
        }
      }
    }
  }

  .menu {
    position: sticky;
    top: 0;
    z-index: 10; /* Ensure the sticky element stays on top */
    margin-top: 30px;

    .lower {
      width: 1200px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      padding: 5px 20px;
      margin-bottom: 10px;
      background-color: white;
      cursor: pointer;

      .menu-item {
        margin-right: 20px;

        a.nav-link {
          margin-right: 20px;
          font-size: 15px !important;
          font-weight: 700;
          text-transform: uppercase;
          white-space: nowrap;

          &.active {
            color: #ffc20e !important;
            text-decoration: underline !important;
          }
        }
      }
    }
  }

  .clinic-introduction-container {
    position: relative;
    width: 1200px;
    margin: 0 auto;

    .clinic-booking-section {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 4px;

      .booking-type-item {
        display: flex;
        flex-direction: column;
        margin-bottom: 24px;
        border-radius: 10px;
        background-color: rgb(247, 247, 247);
        align-items: center;
        justify-content: center;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-left: 1.1% !important;
        margin-right: 1.1% !important;
        width: 12% !important;
        cursor: pointer;

        &.active {
          background-image: linear-gradient(
            rgb(250, 242, 217),
            rgb(190, 230, 244)
          );
        }

        .img-container {
          width: 90px;
          aspect-ratio: 1.03;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .booking-type-title {
          span {
            color: #01b4d5;
          }
        }
      }
    }

    .notice-section {
      .first-notice {
        padding: 10px 20px;
        margin-bottom: 15px;
        background-color: rgba(255, 236, 178, 1);

        p {
          text-align: justify;
          font-size: 16px !important;
          margin-bottom: 0 !important;
        }
      }

      .second-notice {
        padding: 0 20px;
        margin-bottom: 15px;
        background-color: rgba(212, 239, 252, 1);

        div {
          ul {
            padding-left: 0;
            margin-bottom: 0 !important;
            padding-bottom: 10px;
          }

          p,
          li {
            text-align: justify;
            font-size: 16px !important;
          }

          p {
            padding-top: 20px;
            margin-bottom: 10px;
          }

          li {
            margin-left: 30px;
            margin-bottom: 5px;
          }
        }
      }
    }

    .clinic-detail-info-section {
      .clinic-detail-info-section-item {
        font-size: 18px;

        * {
          font-size: inherit;
        }

        .blank-div {
          height: 37px;
        }

        h2 {
          font-size: 18px !important;
          font-weight: bold;
          color: rgba(51, 122, 183, 1);
          text-transform: uppercase;
        }

        div > p > img {
          width: 622px;
          height: 350px;
          display: block;
          margin: 0 auto;
        }
      }
    }
  }
}

@include media-breakpoint-down(xl) {
  .clinic-introduction {
    .clinic-introduction-container {
      width: 992px !important;
    }
  }
}

@include media-breakpoint-down(lg) {
  .clinic-introduction {
    .clinic-introduction-container {
      width: 768px !important;
    }
  }
}

@include media-breakpoint-down(md) {
  .clinic-introduction {
    .clinic-introduction-container {
      width: 95% !important;

      .banner {
        .upper {
          .img-container {
            width: 75px !important;
            height: 75px !important;
          }

          .clinic-basic-info {
            .clinic-name {
              h1 {
                font-size: 19px !important;
              }
            }

            .clinic-address {
              span {
                font-size: 12px !important;
              }
            }
          }
        }

        .lower {
          justify-content: flex-start;
          flex-direction: row;
          overflow-y: hidden;
          overflow-x: scroll;

          .menu-item {
            span {
              font-size: 14px !important;
            }
          }
        }
      }

      .clinic-detail-info-section {
        .clinic-detail-info-section-item {
          *:not(h2) {
            font-size: 16px !important;
          }

          .blank-div {
            height: 42px !important;
          }

          div > p > img {
            width: 100% !important;
            height: auto !important;
          }
        }
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .clinic-introduction {
    .clinic-introduction-container {
      .clinic-detail-info-section {
        .clinic-detail-info-section-item {
          * {
            font-size: 16px !important;
          }
        }
      }
    }
  }
}
