.info-management-detail-wrapper {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 12px;

  .specific-medical-services-section {
    margin-top: 30px;

    h3 {
      margin-bottom: 20px;
      font-size: 20px;
      color: #333;
      padding-bottom: 10px;
      border-bottom: 2px solid #eee;
    }
  }
}
