@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

div.slick-prev {
  &::before {
    content: "" !important;
    display: none !important;
  }
}

.slick-arrow {
  display: flex !important;
  justify-content: center;
}

.slick-prev {
  z-index: 100;
  left: -20px !important;
}

.slider-prev-arrow {
  svg {
    width: 12px;
    height: 24px;
    fill: rgb(52, 146, 158);
  }
}

@include media-breakpoint-down(lg) {
  .slick-arrow.slick-prev {
    display: none !important;
  }
}
