@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

.living-healthy-guides {
  .living-healthy-guides-header {
    padding: 20px 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .living-healthy-guides-content {
    width: 100%;
    padding: 20px 0;
    margin: 0 auto;
  }
}
