@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

.medical-examinations {
  .medical-examinations-header {
    padding: 20px 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .medical-examinations-content {
    width: 100%;
    padding: 20px 0;
    margin: 0 auto;
  }
}

@include media-breakpoint-only(lg) {
  .medical-examinations {
    .medical-examinations-content {
      .slick-list {
        .slick-track {
          .slick-slide {
            & > div {
              margin: 0 17px !important;
            }
          }
        }
      }
    }
  }
}

@include media-breakpoint-only(sm) {
  .medical-examinations {
    .medical-examinations-content {
      .slick-list {
        .slick-track {
          .slick-slide {
            & > div {
              margin-left: 20px !important;
              margin-right: 26px !important;
            }
          }
        }
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .medical-examinations {
    .medical-examinations-header {
      padding-bottom: 0 !important;
    }

    .medical-examinations-content {
      .slick-track {
        .slick-slide {
          & > div {
            margin: unset;
            margin-left: 19px !important;
          }
        }
      }
    }
  }
}
